<div class="last-section mt-5">
    <div class="container mt-5 ">
        <div class="row text-center">
            <div class="col-md-3 pt-5 mb-3">
                <a class="nav-link h-1" routerLink="home">Get to Know Us</a>
                <a class="nav-link" routerLink="home">About MarketPlace</a>
                <a class="nav-link" routerLink="home">Careers</a>
                <a class="nav-link" routerLink="home">MarketPlace Science </a>
            </div>
            <div class="col-md-3 pt-5 mb-3">
                <a class="nav-link h-1" routerLink="home">Shop With Us</a>
                <a class="nav-link" routerLink="home">Your Account</a>
                <a class="nav-link" routerLink="home">Your Orders</a>
                <a class="nav-link" routerLink="home">Your Addresses </a>
                <a class="nav-link" routerLink="home">Your Lists </a>
            </div>
            <div class="col-md-3 pt-5 mb-3">
                <a class="nav-link h-1" routerLink="home">Make Money With Us</a>
                <a class="nav-link" routerLink="home">Advertise Your Products</a>
                <a class="nav-link" routerLink="home">Sell on MarketPlace</a>
                <a class="nav-link" routerLink="home">Fulfillment by Marketplace </a>
            </div>
            <div class="col-md-3 pt-5 mb-3">
                <a class="nav-link h-1" routerLink="home">Let Us Help You</a>
                <a class="nav-link" routerLink="home">Help</a>
                <a class="nav-link" routerLink="home">Shipping & Delivery</a>
                <a class="nav-link" routerLink="home">Returns & Replacements </a>
                <a class="nav-link" routerLink="home">Marketplacepp Download</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="content-1 text-center">
            <h1>A Part of Hearst Digital Media</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas quia exercitationem voluptatibus in incidunt, natus optio nesciunt quam? Voluptate sed exercitationem cumque officiis placeat tenetur fuga alias adipisci id esse illum, rerum quo
                quis ullam non omnis ratione reprehenderit assumenda?</p>
        </div>
        <div class="icon justify-content-center d-flex">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-3x mx-3"></i></a>
            <a href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram fa-3x mx-3"></i></a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube fa-3x mx-3"></i></a>
            <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile"><i class="fab fa-linkedin fa-3x mx-3"></i></a>
        </div>
        <h5 class="h-5 text-center py-5">©2022 Mohamed Radwan. All Rights Reserved.</h5>
    </div>
</div>