<div class="container">
    <div class="row justify-content-center m-auto">
        <div class="col-md-3">
            <a class="btn btn-warning btn-1 mt-5 px-5" routerLink="/model1" role="button">Perfume Oil</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-warning btn-1 mt-5 px-5" routerLink="/model2" role="button">Brown Perfume</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-warning btn-1 mt-5 px-5" routerLink="/model3" role="button">Xpressio Perfume</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-warning btn-1 mt-5 px-5" routerLink="/model4" role="button">New Perfume </a>
        </div>
    </div>
    <div class="row p-5 text-center">
        <div class="col-md-3">
            <div class="card h-100 w-100 mt-5 ">
                <img [src]="TrendingMobile[13].images[0]" class="w-100 h-100" alt="">
                <div class="card-body mb-5">
                    <h5 class="card-title text-center ">{{TrendingMobile[13].title}}</h5>
                    <p class="text">{{TrendingMobile[13].description}}</p>
                    <a routerLink="/home" class="btn btn-primary w-100 ">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100 w-100 mt-5 ">
                <img [src]="TrendingMobile[13].images[1]" class="w-100 h-100" alt="">
                <div class="card-body mb-5">
                    <h5 class="card-title text-center ">{{TrendingMobile[13].title}}</h5>
                    <p class="text">{{TrendingMobile[13].description}}</p>
                    <a routerLink="/home" class="btn btn-primary w-100 ">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100 w-100 mt-5 ">
                <img [src]="TrendingMobile[13].images[2]" class="w-100 h-100" alt="">
                <div class="card-body mb-5">
                    <h5 class="card-title text-center ">{{TrendingMobile[13].title}}</h5>
                    <p class="text">{{TrendingMobile[13].description}}</p>
                    <a routerLink="/home" class="btn btn-primary w-100 ">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100 w-100 mt-5 ">
                <img [src]="TrendingMobile[13].images[0]" class="w-100 h-100" alt="">
                <div class="card-body mb-5">
                    <h5 class="card-title text-center ">{{TrendingMobile[13].title}}</h5>
                    <p class="text">{{TrendingMobile[13].description}}</p>
                    <a routerLink="/home" class="btn btn-primary w-100 ">Buy Now</a>
                </div>
            </div>
        </div>

    </div>
</div>