<div class="container">
    <div class="row justify-content-center m-auto">
        <div class="col-md-3">
            <a class="btn btn-warning btn-1 mt-5 px-5" routerLink="/iphone" role="button">Apple Mobile</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-warning btn-1 mt-5 px-5" routerLink="/samsung" role="button">Samsung Mobile</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-warning btn-1 mt-5 px-5" routerLink="/oppo" role="button">Oppo Mobile</a>
        </div>
        <!-- <div class="col-md-3">
            <a class="btn btn-warning btn-1 mt-5 px-5" routerLink="/huwaei" role="button">Huwaei Mobile</a>
        </div> -->
    </div>
</div>