<div class="container">
    <div class="row justify-content-center m-auto">
        <div class="col-md-3">
            <a class="btn btn-warning btn-1 mt-5 px-5" routerLink="/apple" role="button">Apple LapTop</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-warning btn-1 mt-5 px-5" routerLink="/sunglap" role="button">Samsung LapTop</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-warning btn-1 mt-5 px-5" routerLink="/microsoft" role="button">Microsoft LapTop</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-warning btn-1 mt-5 px-5" routerLink="/infenix" role="button">Infenix LapTop</a>
        </div>
    </div>
</div>